includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	paths:
		- src
		- tests
	excludePaths:
		- src/Latte/Filters.php
		- src/Latte/Macros.php
	ignoreErrors:
		-
			count: 2
			message: '#^Variable property access on object\.$#'
			path: 'src/Loaders/Doctrine.php'
