includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: max
	paths:
		- src
		- tests
	excludePaths:
		- src/Latte/TranslatorExtension.php
		- src/Latte/Nodes/*
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			count: 2
			message: '#^Variable property access on object\.$#'
			path: 'src/Loaders/Doctrine.php'
