includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	paths:
		- src
	excludes_analyse:
		- src/compatibility.php
	ignoreErrors:
		-
			count: 2
			message: '#^Variable property access on T\.$#'
			path: src/Loaders/Doctrine.php

		-
			count: 1
			message: '#^Only numeric types are allowed in post-increment, int\|string given\.$#'
			path: src/Tracy/Panel.php

		-
			count: 1
			message: '#^Method Contributte\\Translation\\Translator\:\:addResource\(\) has no return typehint specified\.$#'
			path: src/Translator.php

		-
			count: 1
			message: '#^Method Contributte\\Translation\\Translator\:\:setLocale\(\) has no return typehint specified\.$#'
			path: src/Translator.php

		-
			count: 1
			message: '#^Method Contributte\\Translation\\Translator\:\:setFallbackLocales\(\) has no return typehint specified\.$#'
			path: src/Translator.php

		-
			count: 1
			message: '#^Method Contributte\\Translation\\Translator\:\:computeFallbackLocales\(\) has no return typehint specified\.$#'
			path: src/Translator.php

		-
			count: 1
			message: '#^Method Contributte\\Translation\\Translator\:\:computeFallbackLocales\(\) has parameter \$locale with no typehint specified\.$#'
			path: src/Translator.php

		-
			count: 1
			message: '#^Method Contributte\\Translation\\Translator::setFallbackLocales\(\) has parameter \$locales with no value type specified in iterable type array\.$#'
			path: 'src/Translator.php'

		-
			count: 1
			message: '#^Comparison operation "\<" between 20900 and 20900 is always false\.$#'
			path: 'src/Latte/Macros.php'
