includes:
	- %rootDir%/../phpstan-deprecation-rules/rules.neon
	- %rootDir%/../phpstan-nette/extension.neon
	- %rootDir%/../phpstan-nette/rules.neon
	- %rootDir%/../phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		# src\Loaders\Doctrine.php
		# src\Loaders\Doctrine.php
		- '#^Variable property access on object\.$#'

		# src\Tracy\Panel.php
		- '#^Only numeric types are allowed in post-increment, int\|string given\.$#'

		# src\PrefixedTranslator.php
		- '#^Parameter \#2 \$parameters \(array<int, mixed>\) of method Contributte\\Translation\\PrefixedTranslator\:\:translate\(\) should be contravariant with parameter \$parameters \(mixed\) of method Nette\\Localization\\ITranslator\:\:translate\(\)$#'

		# trans\src\Translator.php
		- '#^Parameter \#2 \$parameters \(array<int, mixed>\) of method Contributte\\Translation\\Translator\:\:translate\(\) should be contravariant with parameter \$parameters \(mixed\) of method Nette\\Localization\\ITranslator\:\:translate\(\)$#'

		# trans\src\Translator.php
		- '#^Parameter \#1 \$locale of method Contributte\\Translation\\Translator\:\:setLocale\(\) expects string, null given\.$#'

		# trans\src\Translator.php
		- '#^Method Contributte\\Translation\\Translator\:\:addResource\(\) has no return typehint specified\.$#'

		# trans\src\Translator.php
		- '#^Strict comparison using === between string and null will always evaluate to false\.$#'

		# trans\src\Translator.php
		- '#^Method Contributte\\Translation\\Translator\:\:setLocale\(\) has no return typehint specified\.$#'

		# trans\src\Translator.php
		- '#^Method Contributte\\Translation\\Translator\:\:setFallbackLocales\(\) has no return typehint specified\.$#'

		# trans\src\Translator.php
		- '#^Method Contributte\\Translation\\Translator\:\:computeFallbackLocales\(\) has no return typehint specified\.$#'

		# trans\src\Translator.php
		- '#^Method Contributte\\Translation\\Translator\:\:computeFallbackLocales\(\) has parameter \$locale with no typehint specified\.$#'
