includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	paths:
		- src
		- tests
	excludePaths:
		- src/Latte/TranslatorExtension.php
		- src/Latte/Nodes/*
	ignoreErrors:
		-
			count: 2
			message: '#^Variable property access on object\.$#'
			path: 'src/Loaders/Doctrine.php'

		# -------------------------------------------------------------------
		# for back compatibility with old packages - will be remove in future
		# -------------------------------------------------------------------

		-
			message: """
				#^Fetching class constant class of deprecated class Nette\\\\Localization\\\\ITranslator\\:
				use Nette\\\\Localization\\\\Translator$#
			"""
			count: 2
			path: src/DI/TranslationExtension.php

		-
			count: 1
			message: """
				#^Parameter \\$translator of method Contributte\\\\Translation\\\\Latte\\\\Filters\\:\\:__construct\\(\\) has typehint with deprecated interface Nette\\\\Localization\\\\ITranslator\\:
				use Nette\\\\Localization\\\\Translator$#
			"""
			path: src/Latte/Filters.php

		-
			count: 1
			message: """
				#^Parameter \\$translator of method Contributte\\\\Translation\\\\Latte\\\\TranslatorExtension\\:\\:__construct\\(\\) has typehint with deprecated interface Nette\\\\Localization\\\\ITranslator\\:
				use Nette\\\\Localization\\\\Translator$#
			"""
			path: src/Latte/TranslatorExtension.php

		-
			count: 1
			message: """
				#^Class Contributte\\\\Translation\\\\PrefixedTranslator implements deprecated interface Nette\\\\Localization\\\\ITranslator\\:
				use Nette\\\\Localization\\\\Translator$#
			"""
			path: src/PrefixedTranslator.php

		-
			count: 1
			message: """
				#^Class Contributte\\\\Translation\\\\Translator implements deprecated interface Nette\\\\Localization\\\\ITranslator\\:
				use Nette\\\\Localization\\\\Translator$#
			"""
			path: src/Translator.php

		-
			message: """
				#^Fetching class constant class of deprecated class Nette\\\\Bridges\\\\ApplicationLatte\\\\ILatteFactory\\:
				use Nette\\\\Bridges\\\\ApplicationLatte\\\\LatteFactory$#
			"""
			count: 1
			path: src/DI/TranslationExtension.php
